@charset "gb2312";

* {margin:0;} html,body,#page { height:100%;padding: 0; margin: 0;font-family: 微软雅黑;}
body {background:#856D35; margin:0; padding:0;font-family:微软雅黑,Helvetica,Arial,san-serif;font-size:16px;}
a,a:visited { text-decoration:none;}ul,ol,li { list-style:none;}
.fl{float:left}.fr{float:right}
.clearfix:after{content:".";display:block;height:0;clear:both;overflow:hidden;visibility: hidden;}
.clearfix {display: inline-block;} .clr{clear:both}.hidden{display:none!important}
/*add set*/
*,*:after,*:before { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }
html,body,header,nav,footer,article,section,form,fieldset,p,div,ul,ol,li,h1,h2,h3,h4,h5,h6 {-webkit-text-size-adjust:none;} /*改变文字大小*/
-webkit-tap-highlight-color:{rgba(0,0,0,0);}-moz-tap-highlight-color:{rgba(0,0,0,0);}/*链接高亮*/
-webkit-touch-callout:{none;}-moz-touch-callout:{none;}/*长按弹出选项菜单*/
section,article,#container,#content{text-shadow:0 1px 0 #fff;}

#page { margin:0 auto; padding:0; padding-bottom:50px; width:100%;height:auto;min-height:100%;background:#f9f9f9; }
header {margin:0 auto; padding:0; width:100%;text-align:center; line-height:40px; height:40px; background:#000;color:#fff; white-space:nowrap; overflow:hidden; border-top:1px solid #333}
header img {height:40px;margin:0;padding:0;}
header h1 {width:70%; margin:0 auto;font-size:1.2em;}
header h2,header h3 { width:15%; display:inline;font-size:0.8em; background:#000; }
header h2 { position: absolute; left:0; top:0;}
header h3 { position:absolute; right:0; top:0;}
header h2 a,header h3 a { padding:5px 6px;border:1px solid #666; border-radius:4px; color:#ddd;}
header a.icon {display:block;height:40px;line-height:40px;padding:0;border:0;color:#333;text-indent:100em;opacity:.7;filter:alpha(opacity=70);-moz-opacity:.7;/*FF*/ overflow:hidden;}
header a.fresh{ background:url("fresh.png") 50% 50% no-repeat; background-size: 32px 32px;}
header a.home { background:url("home.png") 50% 50% no-repeat; background-size: 36px 36px;}
header a.tel { background:url("call.png") 50% 50% no-repeat; background-size: 36px 36px;}

section.topfixed{margin:0 auto; padding:0; width:100%;position: fixed;text-align:left; line-height:25px; height:auto; 
background:rgba(68,54,28,0.9);box-shadow:0 3px 3px rgba(30,30,30,0.6);color:#fff; overflow:hidden;text-shadow:none;}
section.topfixed p {padding:5px;margin:0;}
.lv {background:#000;height:40px; width:100%;text-align:center;margin:0; padding:0;}

.banner {margin:0;padding:0;text-align:center;width:100%;height:auto;
-webkit-animation:fadeIn .6s .2s ease both;-moz-animation:fadeIn .6s .2s ease both;}
.banner img {border:0;width:auto;max-width:100%; float:left; margin:0 auto; padding:0;}
.banner p {width:100%;height:60px; line-height:60px;font-size:26px;color:#fff;font-weight:bold; text-shadow:1px 1px 0 #000;}


nav {margin:0 auto; padding:0; width:100%;position:fixed; left:0; bottom:0;
-webkit-animation:fadeInUpBig 1s 0.2s ease both;-moz-animation:fadeInUpBig 1s 0.2s ease both; }
nav ul {margin:0 auto;padding:0 0; height:45px; width:100%; background:#e30; overflow:hidden;}
nav ul li { width:33.3%; float:left; text-align:center;}
nav ul li a { display:block; line-height:45px;width:100%;color:#fff;font-size:0.8em; }
nav ul li a strong { display:block; position: relative;top:10px;left:0; font-weight:normal;}

nav ul.Transverse {position:relative;z-index:999;}
nav ul.Transverse li a {border-right:1px dotted #f66;}
nav ul.Transverse li:last-child a {border-right:0px;}
nav ul.Transverse li a strong{ display:inline; position: inherit;font-weight:normal;padding-left:32px; line-height:45px;font-size:14px;}
nav ul.Transverse li:nth-child(1) a strong{background:url("home.png") left center no-repeat; background-size: 28px 28px;}
nav ul.Transverse li:nth-child(2) a strong{background:url("call.png") left center no-repeat; background-size: 28px 28px;}
nav ul.Transverse li:nth-child(3) a strong{background:url("sms.png") left center no-repeat; background-size: 28px 28px;}
nav ul.Transverse li:nth-child(1) a.home strong{background:url("home.png") left center no-repeat; background-size: 28px 28px;}
nav ul.Transverse li span {color:#333}

section ul {margin:0 auto; padding:0; height:auto; overflow:hidden;}
section ul li {width:50%; margin:0; padding:0; float:left;}
section ul li a { display:block; height:60px; width:100%; margin:0; text-align:center;}
section ul li a img {height:50px; width:60px; vertical-align:middle; margin:5px auto;}
section ul li:nth-child(1) a { float:right;background:#f00;-webkit-animation:fadeInLeftTopBig 1s .2s ease both;-moz-animation:fadeInLeftTopBig 1s .2s ease both;}
section ul li:nth-child(2) a { float:left;background:#ff0;-webkit-animation:fadeInRightTopBig 1s .2s ease both;-moz-animation:fadeInRightTopBig 1s .2s ease both;}
section ul li:nth-child(3) a { float:right;background:#00f;-webkit-animation:fadeInLeftBottomBig 1s .2s ease both;-moz-animation:fadeInLeftBottomBig 1s .2s ease both;}
section ul li:nth-child(4) a { float:left;background:#0f0;-webkit-animation:fadeInRightBottomBig 1s .2s ease both;-moz-animation:fadeInRightBottomBig 1s .2s ease both;}


section.buy {width:100%; height:auto; background:#44361C; padding:5px 0 15px;text-shadow:none;text-align:center; overflow:hidden;
-webkit-animation:bounceInkeep .3s .2s linear both;-moz-animation:bounceInkeep .3s .2s linear both;-o-animation:bounceInkeep .3s .2s linear both;}
.row1,.row2 {width:96%; height:auto;margin:0 auto;padding:0; clear:both;}
.row2 {border-top:1px dotted #524524; padding:10px 0; line-height:30px; height:50px; overflow:hidden;}
.row1 strong { display:block;width:35%;float:left;font-size:48px;color:#ff0;text-shadow:1px 1px 0px #000; line-height:60px;}
.row1 ol {width:65%; height:inherit;margin:0;padding:0; overflow:hidden;}
.row1 ol li {width:33%; float:left;color:#886536; line-height:30px; }
.row1 ol li p{color:#9A9B74;}
.row2 strong {display:block;width:35%;line-height:30px; height:30px;float:left;font-size:20px;color:#9A7C48;}
.row2 .djs {width:65%; line-height:30px; height:30px;margin:0;padding:0; color:#dd9;overflow:hidden;}
.row2 .djs input {color:#D0740A;background:none;font-size:26px; text-align:right;}
section.buy a.button,section.buy button{display:block; width:96%; margin:0 auto; height:46px; line-height:42px;font-size:26px;border-radius:4px;
border:1px solid #EE3B1A;text-shadow:0 1px 0 #000;color:#fff;
background:-webkit-linear-gradient(top,#F9A58B 0%,#F9A58B 3%,#F1714A 6%,#F37751 49%,#EC3B07 51%,#EA3001 100%);
background:-moz-linear-gradient(top,#F9A58B 0%,#F9A58B 3%,#F1714A 6%,#F37751 49%,#EC3B07 51%,#EA3001 100%);
background:-o-linear-gradient(top,#F9A58B 0%,#F9A58B 3%,#F1714A 6%,#F37751 49%,#EC3B07 51%,#EA3001 100%);
background:-ms-linear-gradient(top,#F9A58B 0%,#F9A58B 3%,#F1714A 6%,#F37751 49%,#EC3B07 51%,#EA3001 100%);
background:linear-gradient(top,#F9A58B 0%,#F9A58B 3%,#F1714A 6%,#F37751 49%,#EC3B07 51%,#EA3001 100%);}
section.buy a.btn{background-color:#ff5600;
display:block;width:96%;margin:5px auto; padding:10px 0; text-align:center;color:#fff;text-shadow:1px 1px 1px #333;border-radius:6px;}


section.Glist { background:#f0f0f0;}
section.Glist ul { height:auto; width:100%; margin:0 auto; padding:20px 10px; overflow:hidden; text-shadow:none;border-top:1px solid #fff; border-bottom:1px solid #ddd;}
section.Glist ul li img {border:0px;}
section.Glist ul li:nth-child(1) {width:100%; padding:0; line-height:30px; font-weight:bold; font-size:16px;color:#4F4F4F;}
section.Glist ul li:nth-child(2) { width:35%; float:left;}
section.Glist ul li:nth-child(2) img { width:100%; height:220px; padding:0px 5px;}
section.Glist ul li:nth-child(3) { width:65%; float:left; padding:0;}
section.Glist ul li:nth-child(3) dl { padding:18px 0; height:auto; width:100%; overflow:hidden;}
section.Glist ul li:nth-child(3) dl:nth-child(1) dt { width:40%; float:left;font-size:32px; color:#f30}
section.Glist ul li:nth-child(3) dl:nth-child(1) dd { width:60%; float:left;font-size:12px; color:#333; text-align:right;}
section.Glist ul li:nth-child(3) dl:nth-child(1) dd p {font-weight:bold;color:#600;}
section.Glist ul li:nth-child(3) dl:nth-child(2) { border-top:1px dotted #ddd; border-bottom:1px dotted #ddd;}
section.Glist ul li:nth-child(3) dl:nth-child(2) dt { width:100%;font-size:16px; color:#300; line-height:20px;}
section.Glist ul li:nth-child(3) dl:nth-child(2) dd { width:100%;font-size:16px; color:#333;}
section.Glist ul li:nth-child(3) dl:nth-child(2) dt b,section.Glist ul li:nth-child(3) dl:nth-child(2) dd span { display:block;width:33.3%; float:left; text-align:center;color:#600;}
section.Glist ul li:nth-child(3) dl:nth-child(2) dt b {color:#666;}
section.Glist ul li:nth-child(4) { width:65%;float:left; padding:0;}
section.Glist ul li:nth-child(4) strong { display:block;width:100%; height:40px; line-height:40px; background:#f30;color:#fff;border-radius:6px; text-align:center; margin:12px 0 0;}
section.Glist ul:first-child {border-top:0;}section.Glist ul:last-child {border-bottom:0;}


@media only screen and (max-width: 480px) {
.row1 ol li {width:33%; float:left;color:#886536; line-height:30px;font-size:12px; }
.row1 ol li p{color:#9A9B74;font-size:16px;}	
	
section.Glist ul li:nth-child(2) {width:45%;}
section.Glist ul li:nth-child(3) {width:55%;}
section.Glist ul li:nth-child(2) img { width:100%; height:135px; padding:10px 5px;}
section.Glist ul li:nth-child(3) dl { padding:15px 0;}
section.Glist ul li:nth-child(3) dl:nth-child(1) dt { width:38%; float:left;font-size:16px; color:#f30}
section.Glist ul li:nth-child(3) dl:nth-child(1) dd { width:62%; float:left;font-size:10px; color:#333; text-align:right;}
section.Glist ul li:nth-child(3) dl:nth-child(2) { border-top:1px dotted #ddd; border-bottom:1px dotted #ddd;}
section.Glist ul li:nth-child(3) dl:nth-child(2) dt { width:100%;font-size:12px; color:#300; line-height:20px;}
section.Glist ul li:nth-child(3) dl:nth-child(2) dd { width:100%;font-size:12px; color:#333;}
section.Glist ul li:nth-child(4) { width:100%;float:left; padding:0;}
section.Glist ul li:nth-child(4) strong { display:block;width:100%; height:40px; line-height:40px; background:#f30;color:#fff;border-radius:6px; text-align:center; margin:0 auto;}
}
@media only screen and (max-width: 320px) {
section.Glist ul li:nth-child(2) img { width:100%; height:115px; padding:10px 5px;}
section.Glist ul li:nth-child(3) dl:nth-child(1) dt { width:30%; float:left;font-size:16px; line-height:20px; color:#f30}
section.Glist ul li:nth-child(3) dl:nth-child(1) dd { width:70%; float:left;font-size:10px; color:#333; text-align:right;}
section.Glist ul li:nth-child(3) dl:nth-child(2) { border-top:1px dotted #ddd; border-bottom:1px dotted #ddd;}
section.Glist ul li:nth-child(3) dl:nth-child(2) dt { width:100%;font-size:12px; color:#300; line-height:16px;}
section.Glist ul li:nth-child(3) dl:nth-child(2) dd { width:100%;font-size:12px; color:#333;}
section.Glist ul li:nth-child(4) { width:100%;float:left; padding:0;}
section.Glist ul li:nth-child(4) strong { display:block;width:100%; height:40px; line-height:40px; background:#f30;color:#fff;border-radius:6px; text-align:center; margin:0 auto;}
}


article.showcontent {margin:0; padding:0;width:100%; height:auto;overflow:hidden;}
article.showcontent h2,.banner h2,article h2{background:#EEE9E6;color:#6C594D;font-size:18px; line-height:30px; padding:0 10px;margin:0; width:100%; clear:both; text-align:left;}
article.showcontent h2:before,.banner h2:before,article h2:before {content:"▼";color:#948157;}
article.showcontent img {border:none;margin:0px 0 0; padding:0; text-align:center;width:auto;max-width:100%;float:left;}

/*timer*/
.time-count{text-align:center; margin:0; font-size:14px;}
.time-count b{font-size:20px;}
.time-count span{font-weight:bold; padding:0 0 0 5px ; color:#D0740A;font-size:26px;}


article.des {width:94%;margin:0 auto;padding:10px 0; text-align:left;border-top:1px dotted #524524;color:#856D35;text-shadow:1px 1px 1px #33250C}

article.showcontent .btn {padding:10px;}
article.showcontent .btn a[href^="tel:"]{background-image:url("call.png");}
article.showcontent .btn a[href^="sms:"]{background-image:url("sms.png");}
article.showcontent .btn a[href^="tencent:"]{background-image:url("qq.png");}
article.showcontent .btn .qq{background-image:url("qq.png");background-size: 24px 24px;
background-position:10% 50%;background-repeat:no-repeat; background-color:#ff5600;
display:block;width:100%;margin:5px 0; text-align:center;color:#fff;text-shadow:1px 1px 1px #333;border-radius:6px;}
article.showcontent .btn .weixin{background-image:url("weixin.png");background-size: 24px 24px;
background-position:10% 50%;background-repeat:no-repeat; background-color:#ff5600;
display:block;width:100%;margin:5px 0; text-align:center;color:#fff;text-shadow:1px 1px 1px #333;border-radius:6px;}

article.showcontent .btn a[href^="sms:"],article.showcontent .btn a[href^="mailto:"],article.showcontent .btn a[href^="tel:"],article.showcontent .btn a[href^="tencent:"]{
background-position:10% 50%;background-size: 32px 32px;background-repeat:no-repeat; background-color:#ff5600;
display:block;width:100%;margin:5px 0; text-align:center;color:#fff;text-shadow:1px 1px 1px #333;border-radius:6px;}
article.showcontent .btn a[href^="tencent:"]{background-size: 24px 24px;}


footer {margin:0px auto 0; padding:0;width:100%; clear:both;border-top:1px solid #ddd;}
footer p { text-align:center;font-size:0.8em; padding-top:5px;}
footer p img {max-width:98%;margin:0 auto;}


@media only screen and (max-width: 480px) {
.row1 strong { display:block;width:35%;float:left;font-size:36px;color:#ff0;text-shadow:1px 1px 0px #000;}
.row2 strong {display:block;width:35%;float:left;font-size:12px;color:#9A7C48;}
.row2 .djs {width:65%; height:inherit;margin:0;padding:0; color:#dd9;overflow:hidden;}
.row2 .djs input {color:#D0740A;background:none;font-size:12px; text-align:right;}
.time-count{text-align:center; margin:0; font-size:12px;}
.time-count span{font-weight:bold; padding:0 5px; color:#D0740A;font-size:14px;}
}


article {width:100%; margin:0 auto; padding:0px 0; line-height:24px;font-size:1.0em;
-webkit-animation:bounceInkeep .3s .2s linear both;-moz-animation:bounceInkeep .3s .2s linear both;}


nav a.thisclass, #home.thisclass,#about.thisclass, #shop.thisclass, #case.thisclass, #call.thisclass, #navi.thisclass, #sms.thisclass, #contact.thisclass, #write.thisclass{ background-color:#333;}
.btn {width:100%;height:auto;clear:both;padding:5px 0;overflow:hidden;}
article~div.btn { padding-top:0px;}

#logo{text-align:left;padding:6px 0.4em;background:#000;}
.header {margin:0;padding:0;border:none;}

.copy {font-size:12px;text-align:center;}


input,select,textarea{font:100% Microsoft YaHei,\5FAE\8F6F\96C5\9ED1,SimSun,\5B8B\4F53,Arial,Verdana;}em{font-style:normal;color:#F00;}img{border:0 none;vertical-align:middle;}.red{color:#F00;}#order{margin:0 auto;}.warp{width:auto;height:100%;}.title{height:36px;line-height:36px;color:#FFF;font-size:18px;vertical-align:middle;margin-bottom:10px;padding-left:8px;}.warp label.bdxx{float:left;display:inline;overflow:hidden;width:24%;_width:23%;text-align:right;padding-right:2%;font-size:15px;}.warp label.bdxxcp{float:left;display:block;width:95%;height:20px;line-height:20px;padding-left:5%;}.dxbox,.xlbox,.textbox,.text2box,.text3box{float:left;display:inline;width:74%;_width:73%;}.dxboxcp{float:left;display:block;width:85%;padding:0 5% 0 10%;margin-top:8px;font-weight:bold;font-size:14px;line-height:1.7em;}.dxbox,.text2box,.text3box{line-height:1.5em;}.bdbox{float:left;width:100%;margin-bottom:10px;*margin-bottom:7px;}.dxboxcp label{margin-left:6px;cursor:pointer;}.dxbox label{cursor:pointer;}.textbox input{width:90%;font-size:16px;color:#666;padding:6px;_padding:6px;border: 1px #ccc solid;}.text3box #showprice{clear:both;display:inline;font-family:Arial,Verdana;font-size:14px;font-weight:bold;color:#F60;margin:0 5px;}.xlbox select.cpxl{font-size:16px;width:96%;height:28px;border:1px solid #a0a0a0;background:#FCFCFC;}.xlbox select.dqxl{width:30.15%;height:33px;border:1px solid #ccc;}.text2box textarea{width:90%;height:50px;padding:4px 5px;background:#FFF;border:1px solid #ccc;}.text3box input{width:40px;font:16px Arial;color:#666;font-weight:bold;text-align:center;vertical-align:middle;padding:6px;background:#FFF;border: 1px #ccc solid;}.text3box .code{width:100px;height:29px;}.text3box a{font-size:12px;margin-left:6px;}.subbox{width:100%;float:left;text-align:center;padding-bottom:10px;}.subbox input{width:200px;line-height:36px;color:#FFF;font-size:18px;vertical-align:middle;cursor:pointer;border:0;}#fahuo{width:100%;font-size:12px;line-height:200%;background:#EFEFEF;text-align:left;border-top:1px solid #DDDDDD;}#fahuo ul{padding:10px;height:105px;overflow:hidden;}#fahuo span{color:#0C3;}
  #order{width:100%;#fcfcfc;padding-top:10px;}
  .subbox input{
background-color: #ff5600;
display: block;
line-height:100%;
margin: 5px auto;
margin-bottom: 20px;
padding: 12px 0;
text-align: center;
color: #fff;
text-shadow: 0px 0px 0px #333;
border-radius: 2px;}



.container {
	max-width:400px;
	width:100%;
	margin:0 auto;
	position:relative;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	background:#F9F9F9;
	padding:25px 25px 0 25px;
	margin:5px 0;
}

#contact h3 {
	color: #F96;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#0CF;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:hover {
	background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}

#pingjia{line-height:150%;margin:0px 10px 0 0px;height:350px;overflow:hidden;}
#pingjia li{margin:0 10px 30px 10px;}
#pingjia .allpj{margin:0px auto;}
#pingjia .le{text-align: left;}
#pingjia .ri{text-align: right;}
#pingjia .touxiang{background:url(touxiang.png);background-size: 40px 40px;width: 40px;height:40px;padding:0px;margin:0px;display:inline-block;vertical-align: top;}
#pingjia .lj{margin-top:20px; vertical-align: top;}
#pingjia .l{padding: 8px; border-radius: 1em; max-width: 70%;min-width:51%; margin-top: 0.7em; margin-left: -0.4em; display: inline-block; background-color: rgb(255, 228, 200);}
#pingjia .r{padding: 8px; border-radius: 1em; max-width: 70%;min-width:51%; text-align: left; margin-top: 0.7em; margin-right: -0.4em; display: inline-block; background-color: rgb(188, 227, 249);}


/*数量*/
.shuliang,.jian,.jia{float:left;text-align:center;border:1px solid #ccc;width:2rem;height:2rem;font-size:18px;line-height:2rem;background-color:#f4f4f4;color:#000000;}
.shuliang{padding:0 .5rem;color:#333;border-width:1px 0 1px 0;width:4rem;border-radius:0;background-color:#fff;}
.jian:hover,.jia:hover{text-decoration:none;background:#ccc;}


.cpshuoming{text-align:left;margin:10px;}
.cpshuoming img{
border: none;
margin: 0px 0 0;
padding: 0;
text-align: center;
width: auto;
max-width: 100%;
}

.neworder .chanpin label{border: 1px #ccc solid;
padding: 0px 13px;
float: left;
margin-right: 7px;
display: inline;
margin-bottom: 6px;
overflow: hidden;
position: relative;
cursor: pointer;
border-radius: 2px;
line-height: 33px;
vertical-align: middle;
color:#000000;
font-size:12px;
background:#ffffff;
transition: all .9s;
-webkit-transition: all .9s;
}
.neworder .chanpin label div{height:120px;display: block;margin-top:10px;background:#ffffff;text-align:center;}
.neworder .chanpin label div img{width:100px;height:100px;padding-top:10px;}
.neworder .chanpin label p{height:50px;display: block;margin-top:10px;background:#ffffff;text-align:center;}
.neworder .chanpin label p img{width:50px;height:50px;padding-top:10px;}
.neworder .chanpin input[type="radio"] {
display: none;
}
.neworder .chanpin label:hover{border:1px solid #f66;color:#000000;text-shadow: 0 0 0 #fff;border-radius: 10px;}
.neworder .chanpin .now,.neworder .chanpin .now:hover{border:1px solid #ccc;color:#ffffff;text-shadow: 0 0 0 #fff;background:#f66 url(../images/s.jpg) no-repeat right top;}
.oldorder .chanpin label{}
.Validform_checktip{
	margin-left:8px;
	line-height:20px;
	overflow:hidden;
	color:#999;
	font-size:12px;
}
.Validform_right{
	color:#71b83d;
	padding-left:20px;
	background:url(../images/right.png) no-repeat left center;
}
.Validform_wrong{
	color:red;
	padding-left:20px;
	white-space:nowrap;
	background:url(../images/error.png) no-repeat left center;
}
.Validform_loading{
	padding-left:20px;
	background:url(../images/sonLoad.gif) no-repeat left center;
}
.Validform_error{
	background-color:#ffe7e7;
}
#Validform_msg{color:#7d8289; font: 12px/1.5 微软雅黑,tahoma, arial, \5b8b\4f53, sans-serif; width:280px; -webkit-box-shadow:2px 2px 3px #aaa; -moz-box-shadow:2px 2px 3px #aaa; background:#fff; position:absolute; top:0px; right:50px; z-index:99999;border:1px solid #e30; display:none;filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999'); box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);}
#Validform_msg .iframe{position:absolute; left:0px; top:-1px; z-index:-1;}
#Validform_msg .Validform_title{line-height:25px; height:25px; text-align:left; font-weight:bold; padding:0 8px; color:#fff; position:relative; background-color:#e30;
background: -moz-linear-gradient(top, #999, #666 100%); background: -webkit-gradient(linear, 0 0, 0 100%, from(#EEB3A3), to(#e30)); filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEB3A3', endColorstr='#e30');}
#Validform_msg a.Validform_close:link,#Validform_msg a.Validform_close:visited{line-height:22px; text-align:cneter;color:#fff; text-decoration:none;border-left:1px solid #bbb;}
#Validform_msg a.Validform_close:hover{color:#ccc;}
#Validform_msg .Validform_info{padding:20px;border-top:none; text-align:left;}
#Validform_msg .Validform_close {text-align:center;}
#Validform_msg button{width:80px;height:40px;margin:10px;background-color: #ff5600;border:0px;color:#ffffff;cursor:pointer;}